.text-color{
    color: coral;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.link-button{
   text-decoration: none; background-color: blue; color: white;font-weight: 900;
   padding: 10px 40px;
   border-radius: 10px;
}
h1{
    font-size: 70px;
}
.half-width{
    width: 50%; 
}
.half-width img{
    width: 400px;
}
.top-part{

    display: flex;
    
    padding-left: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-right: 50px;
    border-radius: 30px;
    margin-left: 50px;}


    p{
        font-weight: 700; color: gray;

    }

.shadow{

    display: flex;
   
}

.mission{
    width: 1000px;  box-shadow:30px 40px 40px grey; height: 500px;
    padding-left: 80px; padding-right: 80px; padding-bottom: 20px; padding-top: 20px;  border-radius: 30px; margin-left: 20px;margin-right: 20px;

    margin-top: 20px; margin-bottom: 20px; 
}

.mission img{
    width: 100px;
}



























